@import 'grid';
@import 'slider';

/* root {
  font-size: 16px;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}

$primary: #0D1C32;
$white: #fff;
$green: #13AB53;
$whiteBg: #F3F6FB;
$whiteBoxShadow: #BEBEBF;
$whiteLinearGradient: linear-gradient(131.06deg, rgba(75, 79, 97, 0.15) 0%, rgba(40, 180, 99, 0.24) 50.52%, rgba(19, 171, 83, 0.17) 100%);
html {
  font-size: 16px;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  color: $primary;
  background: $whiteBg;
}

.header {
  padding: 40px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F4F3FB;
    box-shadow: 0px 4px 25px #bebebf;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    padding: 15px 0;
  }
}

.header__sticky+#about {
  padding-top: 130px;
}

.menu {
  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
  }

  &__mobile {
    display: block !important;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: $whiteBg;
    top: 110%;
    border-top: 1px solid #53586D;
    border-bottom: 1px solid #53586D;
    padding: 50px 20px;
    z-index: 1;

    .menu__list {
      flex-direction: column;
    }

    .menu__item {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .menu__link {
      display: block;
      padding: 10px;
      border-bottom: 1px solid #c5c5c5;
    }
  }
}

.link {
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: $primary;
  text-decoration: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  background: $green;
  border-radius: 8px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: $white;
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 24px;
  }
}


.section {
  margin-bottom: 140px;

  &__title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 24px;
    text-align: center;
  }

  &__subtitle {
    margin: 0 auto;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 60px;
    max-width: 710px;
  }
}

.about {
  &__container {
    display: flex;
    background: $whiteBg;
    border: 1px solid $white;
    box-shadow: 0px 4px 25px $whiteBoxShadow;
    border-radius: 12px;
    overflow: hidden;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    width: 0;
    padding: 60px 0 60px 100px;

    &__button {
      margin-top: auto;
      align-self: flex-start;
    }
  }

  &__right {
    flex: 1 1 50%;
    background: $whiteLinearGradient;
    padding: 60px 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-bottom: 24px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 2.25rem;
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 15px;
      width: 36px;
      height: 36px;
      background-image: url('../images/icons/clock.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    opacity: 0.9;
  }

}

.feature {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 1.25rem;
    }

    &__description {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      max-width: 260px;
    }
  }

  &__section__subtitle {
    margin-bottom: 140px;
  }
}

.event {
  &__item {
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &__title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      display: inline-block;
      margin-bottom: 24px;
    }

    &__description {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.625rem;
    }

    .row {
      .col-7 {
        display: flex;
      }

      .col-5 {
        padding: 60px 0 60px 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}

.contact {
  &__container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 60px;
  }

  &__title {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 140%;
    margin-bottom: 36px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    margin-bottom: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__title {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 120%;
      text-transform: uppercase;
    }

    &__value {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 140%;
      text-decoration: none;
      color: $primary;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 1.5rem;
  }

  &__link {
    font-weight: 600;    
    line-height: 1.5rem;
    color: #13AB53;
  }

  .form {
    width: 100%;
    padding: 40px;
    border: 2px solid $white;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(19, 171, 83, 0.7);
      opacity: 0.2;
      box-shadow: 0px 20px 100px #13AB53;
      filter: blur(50px);
      max-width: 440px;
      width: 100%;
      max-height: 440px;
      height: 100%;
      z-index: -1;
    }

    &__title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 140%;
      letter-spacing: 0.01em;
      margin-bottom: 4px;
    }

    &__subtitle {
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 40px;
      text-align: center;
    }

    &__input {
      max-width: 360px;
      width: 100%;
      height: 48px;
      border: 1px solid $primary;
      border-radius: 4px;
      padding: 0 12px;
      background: #fff;
      font-weight: 400;
      line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__break {
      width: 100%;
      height: 1px;
      border-radius: 1px;
      background: #53586D;
      margin-bottom: 24px;
    }

    &__text {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin-bottom: 24px;

      a {
        color: $primary;
      }
    }

  }
}


.footer {
  &__container {
    padding-bottom: 20px;
  }

  &__logo {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    color: $primary;
  }

  &__phone {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $primary;
    display: block;
    text-decoration: none;
  }

  &__reviews {
    font-weight: 600;
    line-height: 1.5rem;
    text-decoration: none;
    color: $primary;
  }

  &__break {
    opacity: 0.2;
    border: 1px solid $primary;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  &__copyright {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

}

.burger {
  display: none;
  border: none;
  height: 34px;
  background: #13AB53;
  border-radius: 3px;

  &__line {
    display: block;
    height: 2px;
    width: 30px;
    background: $white;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 30px;
      background: $white;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

@import 'media';