body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* flex */
.on-flex {
    height: 592px;
    display: flex;
    flex-direction: column;
    width: 1110px;
    margin: 0 auto;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    font-family: 'Raleway';
    font-size: 36px;
    margin: 0;
}

.divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background-color: #ff8c2d;
    margin: 30px 0;
}

.text-block-paragraph, .card-paragraph {
    font-size: 14px;
    font-family: 'Opensans';
    color: #86878b;
    margin: 0;
}

.card-block {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.my-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    text-align: center;

}

.card-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 29px;
}

.card-title {
    font-family: 'Opensans';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 29px;
}


/* bootstrap */

.on-bootstrap {
    height: 883px;
    padding-top: 109px;
    padding-bottom: 96px;
    background-color: #f5f5f5;
}

.box {
    height: 200px;
    width: 200px;
    background-color: red;
}

.card-box-title {
    height: 59px;
    background-color: #303030;
    color: #fff;
    font-size: 20px;
    font-family: 'OpenSans';
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
}
.card-box-price {
    height: 100px;
    background-color: #303030;
    color: #fff;
    font-family: 'Raleway';
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
}

.unit {
    font-size: 35px;
}

.value {
    font-size: 92px;
    line-height: 92px;
}
.card-box-desc {
    height: 51px;
    color: #a1a1a1;
    background-color: #303030;
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: italic;
}

.card-box-orange {
    height: 5px;
    background-color: #ff8c2c;
}

.cards-block {
    margin-top: 80px;
}

.card-box-most {
    height: 40px;
    background-color: #ff8c2d;
    color: #fff;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

.card-box-desc {

}

.card-box-desc-item {
    height: 40px;
    margin-bottom: 1px;
    color: #86878b;
    font-family: 'OpenSans';
    text-transform: uppercase;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* grid */

.on-grid {
    height: 591px;
    display: grid;
    justify-items: center;
    text-align: center;
    padding-top: 88px;
    padding-bottom: 101px;
}

.grid-comments-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 55px;
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.comment {
    position: relative;
    width: 273px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #86878b;
    border-radius: 5px;
    text-align: left;
    padding: 24px 12px;
    margin-bottom: 23px;
}
.comment:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #f5f5f5 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 27px;
}

.comment-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    grid-template-columns: 70px;
    text-align: left;
    align-items: center;
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: #9a9a9a;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    font-family: 'OpenSans';
    font-weight: bold;
}

.role {
    font-size: 14px;
    font-family: 'OpenSans';
    color: #86878b;
}